.signup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.signup .modal {
    border: 2px solid rgb(129, 129, 129);
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 400px;
}

.signup .modal h2 {
    margin: 0;
    padding: 16px 32px;
    border-bottom: 1px solid #eeeeee;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #000;
}

.signup .modal .form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 16px 32px;
}

.signup .modal input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background: #eeeeee;
    border-radius: 16px;
    color: #000;
    outline: none;
    transition: 0.3s;
}

.signup .modal input:focus {
    background: #e1e1e1;
}

.signup .modal input::placeholder {
    color: #808080;
}

.signup .modal .buttons {
    border-top: 1px solid #eeeeee;
    padding: 16px 32px;
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
}

.signup .modal .buttons button {
    outline: none;
    cursor: pointer;
    color:#000;
    padding: 12px 24px;
    border-radius: 16px;
}

.signup .modal .buttons button:nth-child(1) {
    color: #FFF;
    background: #a4a4a4;
}

.signup .modal .buttons button:nth-child(1):hover {
    background: #8e8e8e;
}

.signup .modal .buttons button:nth-child(2) {
    color: #FFF;
    background: #0091ff;
}

.signup .modal .buttons button:nth-child(2):hover {
    background: #00b0ff;
}