@import "tailwindcss";

html {
  background: linear-gradient(to bottom, #0f172a, #1e293b, #030712);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
